@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /*font-family: 'Lobster', sans-serif;*/
    font-family: 'Cabin', sans-serif;
}